{{ $source := .Get "source" }}
{{ $modifiers := site.Data.modifiers_metadata }}

<div class="complex_icon_flex d-flex justify-content-evenly flex-wrap">
	{{ range $modifiers }}
	<div class="complex_icon_block d-block flex-even p-2">
		<table class="iconTable table table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th colspan="2" scope="col">{{ .GroupDisplayName }}</th>
				</tr>
			</thead>
			<tbody>				
				{{ range .ModifierGroups }}
				{{ range $key, $_ := . }}
					<tr>
					<td>{{ $key }}</td>
					{{ range . }}
						<td>
						{{ range $k, $v := . }}
							<img src="/StellarisAssets/modifiers/pictures/{{ $source }}/{{ $v }}.png" loading="lazy" alt="{{ $k }}" title="{{ $k }}" data-clipboard-text="{{ $v }}">
						{{ end }}
						</td>
					{{ end }}
					</tr>
				{{ end }}
				{{ end }}
			</tbody>
		</table>
	</div>	
	{{ end }}
</div>
