<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="filters btn-toolbar" role="toolbar">
                <div>
                    <span class="p-2 text-decoration-underline">Council:</span>
                    <div class="ui-group btn-group me-2" role="group">
                        <button type="button" class="btn btn-dark" data-group="council" data-filter=".Councilyes">Yes</button>
                        <button type="button" class="btn btn-dark" data-group="council" data-filter=".Councilno">No</button>
                    </div>
                </div>
                <div>
                    <span class="p-2 text-decoration-underline">Class:</span>
                    <div class="ui-group btn-group me-2" role="group">
                        <button type="button" class="btn btn-dark" data-group="class" data-filter=".Classnone">None</button>
                        <button type="button" class="btn btn-dark" data-group="class" data-filter=".Classcommander">Commander</button>
                        <button type="button" class="btn btn-dark" data-group="class" data-filter=".Classleader">Leader</button>
                        <button type="button" class="btn btn-dark" data-group="class" data-filter=".Classofficial">Official</button>
                        <button type="button" class="btn btn-dark" data-group="class" data-filter=".Classscientist">Scientist</button>
                    </div>
                </div>
                <div>
                    <span class="p-2 text-decoration-underline">Rarity:</span>
                    <div class="ui-group btn-group me-2" role="group">
                        <button type="button" class="btn btn-dark" data-group="rarity" data-filter=".Raritynone">None</button>
                        <button type="button" class="btn btn-dark" data-group="rarity" data-filter=".Raritycommon">Common</button>
                        <button type="button" class="btn btn-dark" data-group="rarity" data-filter=".Rarityparagon">Paragon</button>
                        <button type="button" class="btn btn-dark" data-group="rarity" data-filter=".Rarityveteran">Veteran</button>
                    </div>
                </div>
                <div>
                    <span class="p-2 text-decoration-underline">Tier:</span>
                    <div class="ui-group btn-group" role="group">
                        <button type="button" class="btn btn-dark" data-group="tier" data-filter=".Tiernone">None</button>
                        <button type="button" class="btn btn-dark" data-group="tier" data-filter=".Tier1">Tier 1</button>
                        <button type="button" class="btn btn-dark" data-group="tier" data-filter=".Tier2">Tier 2</button>
                        <button type="button" class="btn btn-dark" data-group="tier" data-filter=".Tier3">Tier 3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><p><span class="filterCount"></span> traits displayed out of <span class="totalCount"></span></p></div>
    <div class="row">
        <!-- Larger column (3/4 width) -->
        <div class="col-md-9">            
        {{ $source := .Get "source" }}
        {{ $leaderTraitsMetadata := site.Data.leader_traits_metadata }}

        {{ with $.Page.Resources.Match (printf "pictures/%s/*" ($source|string)) }}
            <div class="isotope_icons d-flex justify-content-evenly flex-wrap">
                {{ range . }}
                    {{ $imageName := path.BaseName .Name }}
                    {{ $imageMetadata := index (where $leaderTraitsMetadata "Name" $imageName) 0 }}
                    {{ $Class := "" }}
                    {{ $Rarity := "" }}
                    {{ $Tier := "" }}
                    {{ if $imageMetadata }}
                        {{ if eq $imageMetadata.Class nil }}
                            {{ $Class = "none" }}
                        {{ else }}
                            {{ $Class = $imageMetadata.Class }}
                        {{ end }}
                        {{ if eq $imageMetadata.Rarity nil }}
                        {{ $Rarity = "none" }}
                            {{ else if eq $imageMetadata.Rarity "free_or_veteran" }}
                        {{ $Rarity = "veteran" }}
                        {{ else }}
                            {{ $Rarity = $imageMetadata.Rarity }}
                        {{ end }}
                        {{ if eq $imageMetadata.Tier nil }}
                            {{ $Tier = "none" }}
                        {{ else }}
                            {{ $Tier = $imageMetadata.Tier }}
                        {{ end }}
                        <div class="icon_block Council{{ $imageMetadata.Council }} Class{{ $Class }} Rarity{{ $Rarity }} Tier{{ $Tier }}">
                            <img src="{{ .RelPermalink }}" loading="lazy" alt="{{ $imageName }}" title="{{ $imageName }}" data-clipboard-text="{{ $imageName }}" />
                            {{/*<span class="d-block p-2 picture_text">{{ $imageName }}</span>*/}}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
        </div>
  
        <!-- Smaller column (1/4 width) -->
        <div class="col-md-3 text-start">
            <div>
                <h5 id="copy-script">Icon script (Click me to copy)</h5>
                <pre class="border border-white p-2"><code id="script-to-copy">inline_script = {
        script = <span id="icon-script"></span>
        CLASS = <span id="icon-class"></span>
        ICON = <span id="icon-icon"></span>
        RARITY = <span id="icon-rarity"></span>
        COUNCIL = <span id="icon-council"></span>
        TIER = <span id="icon-tier"></span>
    }</code></pre>
            </div>
        </div>
    </div>
</div>
 
{{/*
{{ $source := .Get "source" }}
{{ $leaderTraitsMetadata := site.Data.leader_traits_metadata }}

{{ print $leaderTraitsMetadata }}

{{ with $.Page.Resources.Match (printf "pictures/%s/*" ($source|string)) }}
    <div class="pictures_flex d-flex justify-content-evenly flex-wrap">
        {{ range . }}
            <div class="simple_picture_block d-block flex-even p-2">
                <img src="{{ .RelPermalink }}" loading="lazy" alt="{{ path.BaseName .Name }}" title="{{ path.BaseName .Name }}" class="border border-white" data-clipboard-text="{{ path.BaseName .Name }}"/>
                <span class="d-block p-2 picture_text">{{ path.BaseName .Name }}</span>
            </div>
        {{ end }}
    </div>
{{ end }}


{{ $source := .Get "source" }}
{{ $url := "data/leader_traits_metadata.json" }}
{{ $leaderTraitsMetadata := site.Data.leader_traits_metadata }}
{{ $data := getJSON $url }}

{{ range $leaderTraitsMetadata }}
  {{ .Name  }}
{{ end }}


{{ range $data }}
    {{ $item := . }}
    <li data-thumb='{{ $item.Name }}' data-src='{{ $item.Script }}'>
        toto
    </li>
{{ end }}

*/}}


{{/*

WIP for the modifier icon that will be grouped by category

    {{ $source := .Get "source" }}
    {{ $.Scratch.Set "previousGroup" "" }}
    {{ $.Scratch.Set "nextGroup" "" }}
    {{ $allSounds := ($.Page.Resources.Match (printf "sounds/%s/*" ($source|string))) }}
    {{ $numberSounds := (len $allSounds) }}

    {{ with $.Page.Resources.Match (printf "sounds/%s/*" ($source|string)) }}
        <div class="sounds_flex">
            {{ range $index, $sound := . }}
            {{ $nameParts := split (path.BaseName .Name) "-" }}
            {{ $currentGroup := printf "%s" (index $nameParts 0) }}
            {{ $simpleSoundName := printf "%s" (index $nameParts 1) }}

            {{ if eq (add $index 1) $numberSounds }}
                {{ $.Scratch.Set "nextGroup" "" }}
            {{ else }}
            {{ $nextGroupNameParts := split (path.BaseName (index $allSounds (add $index 1))) "-" }}
            {{ $.Scratch.Set "nextGroup" (printf "%s" (index $nextGroupNameParts 0)) }}
            {{ end }}

            {{ if ne $currentGroup ($.Scratch.Get "previousGroup")  }}
            <div class="sound_block">
                <table class="soundsTable">
                    <tr>
                        <th colspan="2" class="soundGroup" data-clipboard-text="{{ $currentGroup }}">{{ $currentGroup }}</th>
                    </tr>
            {{ end }}
                    <tr>
                        <td>
                            <audio controls preload="none">
                                <source src="{{ .RelPermalink }}" type="audio/wav">
                            </audio>
                        </td>
                        <td>
                            <span>{{ $simpleSoundName }}</span>
                        </td>
                    </tr>
            {{ if ne $currentGroup ($.Scratch.Get "nextGroup")  }}
                </table>
            </div>
            {{ end }}
            {{ $.Scratch.Set "previousGroup" $currentGroup }}
            {{ end }}
        </div>
    {{ end }}

*/}}