@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* Body CSS */
body {
    background:#222222;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    position: relative;
}

/* Menu CSS */
#nav a {
    font-size: 1.4em;
}

#nav a:not(:last-child) {
    border-right: solid 1px #FFFFFF;
}

/* Pictures gallery CSS */
.pictures_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    /* max-width: 1000px; */
    flex: 1 1 0;
}

.picture_name {
    display: block;
}

.picture_block {
    text-align: center;
    margin-bottom: 15px;
    flex: 1 1 0;
    margin-left: 5px;
    margin-right: 5px;
}

.picture_block span {
    display: block;
}

.picture_block img {
    border: solid 1px #FFFFFF;
    box-shadow: 0 5px 35px #000000;
}

/* Icons gallery CSS */
.icons_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    /* max-width: 1000px; */
    flex: 1 1 0;
}

.icon_block {
    text-align: center;
    margin-bottom: 15px;
    flex: 1 1 0;
    margin-left: 5px;
    margin-right: 5px;
}

.icon_block span {
    display: block;
}

/* Footer CSS */
.icon {
    height: 1em;
margin: 0 .05em 0 .1em;

}

/* Back to top CSS */
.scroll-container {
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
}

.scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.scroll-container a {
    position: sticky;
    top: 88vh;
    cursor: pointer;
    font-size: 20px;
}

.scroll-container img {
    border: 2px solid white;
    border-radius: 25pX;
}