@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* Body CSS */
body {
    background:#222222;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    position: relative;
}

/* Menu CSS */
.navbar {
    background:#222222;
}

#nav a {
    font-size: 1.4em;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle {
    background-color: transparent;
}

.dropdown-menu{
    background-color: #222222;
}

.dropdown-item:hover, .nav-item:hover{
    background-color: #171717;
}

#content {
    margin-top: 100px;
}

.flex-even {
    flex: 1 1 0;
}

.picture_block {
    min-width: 325px;
}

/* Pictures gallery CSS */
/*.pictures_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    flex: 1 1 0;
}

.picture_name {
    display: block;
}

.picture_block {
    text-align: center;
    margin-bottom: 15px;
    flex: 1 1 0;
    margin-left: 5px;
    margin-right: 5px;
}

.picture_block span {
    display: block;
}

.picture_block img {
    border: solid 1px #FFFFFF;
    box-shadow: 0 5px 35px #000000;
}*/

/* Icons gallery CSS */
.icons_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    flex: 1 1 0;
}

.icon_block {
    text-align: center;
    margin-bottom: 15px;
    flex: 1 1 0;
    margin-left: 5px;
    margin-right: 5px;
}

.icon_block span {
    display: block;
}

/* Footer CSS */
.icon {
    height: 1em;
margin: 0 .05em 0 .1em;

}

/* Sounds CSS */
.sounds_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    flex: 1 1 0;
}

.sound_block {
    text-align: center;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #FFFFFF;
    flex: 1 1 0;
}

.sound_block table {
    border-collapse: collapse;
    width: 100%;
}

.sound_block tr:first-of-type {
    border-bottom: 1px solid #FFFFFF;
}

.sound_block td {
    padding: 3px;
    border-bottom: 1px solid #FFFFFF;
    text-align: left;
    width: 50%;
}

.sound_block td:first-of-type {
    border-right: 1px solid #FFFFFF;
}

.sound_block td:nth-child(2) {
    padding-left: 5px;
}

.sound_block tr:last-of-type td {
    border-bottom: none;
}