{{ define "main" }}
<div class="container-xl">
    <div id="home-jumbotron" class="jumbotron text-center">
        <h1 class="title">Welcome on this Stellaris Assets Repository</h1>
        <p id="welcome">This place aims to give you a quick access to some of the graphical and audio assets used in Stellaris to help choose the right picture or find its name quickly.<br /><br />
        Simply use the menu at the top to navigate between the sections.</p>
        <h3 class="title">New features</h3>        
        <div class="row justify-content-center">
            <div class="col-md-5">
                <ul class="list-group text-left">
                    <li class="list-group-item">Added most of the content from The Machine Age DLC (Excluding new Relic sounds, modifiers and leader traits. They will come later)</li>
                    
                </ul>
            </div>
        </div>
        <br/>
    </div>
    <div id="random-pic-container" class="text-center">
        <img id="random-pic" src="{{ relURL "MEM/event_pictures/pictures/MEM/GFX_evt_mem_placeholder.png" }}" class="border border-white" alt="Random Event Picture">
    </div>
</div>
{{ end }}