{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
    <!--<h1 class="title">{{ .Site.Title }}</h1>-->
    <h1 class="title">Welcome on this Stellaris Assets Repository</h1>
    <p id="welcome">This place aims to give you a quick access to some of the graphical and audio assets used in Stellaris to help choose the right picture or find its name quickly. In some sections, assets made specifically for MEM are also displayed.<br /><br />
    Simply use the menu at the top to navigate between the sections.</p>
</div>

<img src="./event_pictures/pictures/{{ (index (readDir "/content/event_pictures/pictures" | shuffle | first 1) 0).Name }}" />
<img src="./event_pictures/pictures/GFX_evt_aggressive_flora.png" />

<!-- Display a random image from the "event_pictures/pictures" directory -->
{{ $files := readDir "/content/event_pictures/pictures" }}
{{ $file := index (shuffle $files) 0 }}
<img src="./event_pictures/pictures/{{ $file.Name }}" alt="Random Event Picture">
<img id="random-pic" alt="Random Event Picture">
<img id="random-pic2" alt="Random Event Picture 2">
<img id="random-pic3" alt="Random Event Picture 3">

{{ end }}