<div class="container-xl">
    <header class="border-bottom d-flex justify-content-start align-items-center">
        <a href="{{ relURL "" }}" class="d-flex text-dark text-decoration-none">
            <img src="{{ relURL "img/Stellaris-Icon-Small.png" }}" alt="Stellaris-Icon"/>
        </a>
        <nav id="nav" class="nav d-flex justify-content-center p-3 flex-grow-1">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} link-secondary{{else}} link-light{{end}}" href="{{.URL}}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </header>
</div>