<script src="{{ relURL "js/bootstrap.bundle.min.js" }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{ if not .IsHome }}
<script src="{{ relURL "js/clipboard.min.js" }}"></script>
<script src="{{ relURL "js/jquery.unveil.js" }}"></script>
<script src="{{ relURL "js/isotope.pkgd.min.js" }}"></script>

<script>
    var clipboard = new Clipboard('.simple_picture_block img, .icon_block img, .soundGroup');

    clipboard.on('success', function(e) {
    console.log(e);
    });

    clipboard.on('error', function(e) {
    console.log(e);
    });
    
    //$(document).ready(function(){
    //$("img").unveil();
    //});
</script>
{{end}}

{{ if eq .Title "Traits" }}
<script>
    // init Isotope
    var $grid = $('.isotope_icons').isotope({
        itemSelector: '.icon_block',
        layoutMode: 'fitRows'
    });

    // store filters for each group
    var filters = {};

    // change active class on buttons
    $('.filters').on('click', 'button', function (event) {
        var $target = $(event.currentTarget);
        var group = $target.attr('data-group');
        $target.toggleClass('active');

        // Initialize the group filter if it doesn't exist
        if (!filters[group]) {
            filters[group] = [];
        }

        var isChecked = $target.hasClass('active');
        var filter = $target.attr('data-filter');

        if (isChecked) {
            addFilter(group, filter);
        } else {
            removeFilter(group, filter);
        }

        // Combine filters and filter isotope
        var filterValues = Object.values(filters).reduce(function (result, groupFilters, index) {
            if (groupFilters.length > 0) {
                var combinations = [];
                for (var i = 0; i < groupFilters.length; i++) {
                    for (var j = 0; j < result.length; j++) {
                        combinations.push(result[j] + groupFilters[i]);
                    }
                }
                return combinations;
            } else {
                return result;
            }
        }, ['']);

        console.log(filterValues);

        $grid.isotope({
            filter: filterValues.join(',')
        });
    });

    function addFilter(group, filter) {
        // Initialize the group filter array if it doesn't exist
        if (!filters[group]) {
            filters[group] = [];
        }

        // If the filter is not already in the group, add it
        if (filters[group].indexOf(filter) == -1) {
            filters[group].push(filter);
        }
    }

    function removeFilter(group, filter) {
        var index = filters[group].indexOf(filter);
        if (index != -1) {
            filters[group].splice(index, 1);
        }
    }

    // Wait for all images to load
    var lazyImages = document.querySelectorAll('.isotope_icons img[loading="lazy"]');
    var imagesLoaded = 0;

    lazyImages.forEach(function (lazyImage) {
        lazyImage.addEventListener('load', function () {
            imagesLoaded++;
            if (imagesLoaded === lazyImages.length) {
                // All lazy-loaded images have loaded, trigger Isotope layout
                $grid.isotope('layout');
            }
        });
    });
</script>
{{ end }}

{{ if eq .Title "Traits" }}
<script>
    function fetchDataFromJson(title, callback) {
        // You need to replace 'yourJsonFile.json' with the actual path to your JSON file
        //$.getJSON('/json/leader_traits_metadata.json', function (data) {
        $.getJSON('{{ relURL "json/leader_traits_metadata.json" }}', function (data) {
            var matchingObject = data.find(function (item) {
                return item.Name === title;
            });
    
            callback(matchingObject);
        });
    }
    
    $(document).ready(function () {
        $('.icon_block').on('click', function () {
            // Handle click event
            var title = $(this).find('img').attr('title');
    
            fetchDataFromJson(title, function (jsonData) {
                if (jsonData) {
                    // Update span content using the data from the JSON file
                    $('#icon-script').text(jsonData.Script);                    
                    $('#icon-class').text(jsonData.Class);                    
                    $('#icon-icon').text(jsonData.Icon);                    
                    $('#icon-rarity').text(jsonData.Rarity);                    
                    $('#icon-council').text(jsonData.Council);                    
                    $('#icon-tier').text(jsonData.Tier);                    
                } else {
                    // Handle the case where no matching object is found
                    console.log('No matching object found for title: ' + title);
                }
            });
        });
    });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Clipboard.js
            var clipboard = new Clipboard('#copy-script', {
                target: function (trigger) {
                    // Specify the target element to copy its text
                    return trigger.nextElementSibling.querySelector('#script-to-copy');
                }
            });

            // Event handler for success
            clipboard.on('success', function(e) {
                console.log(e);
            });
        
            // Event handler for error
            clipboard.on('error', function(e) {
                console.log(e);
            });
        });
        </script>

    
{{ end }}


{{ if .IsHome }}
<script>
    $(function() {
        var folderPath = "./event_pictures";
        $.get(folderPath)
            .done(function(data) {
                var files = $(data).find(".simple_picture_block img").map(function() { return $(this).attr("src"); }).get().filter(function(name) { return ![".", ".."].includes(name); });
                var file = files[Math.floor(Math.random() * files.length)];
                $("#random-pic").attr("src", file);
            })
            .fail(function(error) {
                console.error("Error fetching files:", error);
            });
    });
</script>
{{ end }}
