<script src="{{ relURL "js/bootstrap.bundle.min.js" }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{ if not .IsHome }}
<script src="{{ relURL "js/clipboard.min.js" }}"></script>
<script src="{{ relURL "js/jquery.unveil.js" }}"></script>

<script>
    var clipboard = new Clipboard('.simple_picture_block img, .icon_block img, .soundGroup');

    clipboard.on('success', function(e) {
    console.log(e);
    });

    clipboard.on('error', function(e) {
    console.log(e);
    });
    
    $(document).ready(function(){
    $("img").unveil();
    });
</script>
{{end}}

{{ if .IsHome }}
<script>
    $(function() {
        var folderPath = "./event_pictures";
        $.get(folderPath)
            .done(function(data) {
                var files = $(data).find(".simple_picture_block img").map(function() { return $(this).attr("data-src"); }).get().filter(function(name) { return ![".", ".."].includes(name); });
                var file = files[Math.floor(Math.random() * files.length)];
                $("#random-pic").attr("src", file);
            })
            .fail(function(error) {
                console.error("Error fetching files:", error);
            });
    });
</script>
{{ end }}
