{{ $source := .Get "source" }}
{{ $.Scratch.Set "previousGroup" "" }}
{{ with $.Page.Resources.Match (printf "sounds/%s/*" ($source|string)) }}
    <div class="sounds_flex">
        {{ range . }}
        {{ $nameParts := split (path.BaseName .Name) "-" }}
        {{ $currentGroup := printf "%s" (index $nameParts 0) }}

        {{ .Name }} | {{ $currentGroup }}
        <br/>
        {{ path.BaseName .Name }}
        <br />
        <br />
        {{ end }}
    </div>
{{ end }}

{{/*
    $previousGroup = "";

    $sounds = glob($folder_path . "*.{wav}", GLOB_BRACE);

    foreach ($sounds as $key => $value) {
        $soundWithoutPath = explode("/", $sounds[$key])[1];
        $currentGroup = explode("-", $soundWithoutPath)[0];
        if(array_key_exists($key + 1, $sounds )) {
            $nextGroup =  explode("-", explode("/", $sounds[$key+1])[1])[0];
        }
        else {
            $nextGroup = '';
        }
        $soundName = explode(".", explode("-", $soundWithoutPath)[1])[0];
        if ($soundName == "event_activating_unknown_technology") {
            $soundName = wordwrap($soundName, 25, "<br />\n", true);
        }
        else { $mysoundName = $soundName;}

        if ($currentGroup != $previousGroup) {
            ?>
                <div class="item_sound">
                    <table class="soundsTable">
                        <tr>
                            <th colspan="2" class="soundGroup" data-clipboard-text="<?php echo $currentGroup; ?>"><?php echo $currentGroup; ?></th>
                        </tr>
            <?php
        }
        ?>
            <tr>
                <td>
                    <audio controls preload="none">
                        <source src="<?php echo $sounds[$key]; ?>" type="audio/wav">
                    </audio>
                </td>
                <td>
                    <span><?php echo $soundName; ?></span>
                </td>
            </tr>
        <?php
            if ($currentGroup != $nextGroup)
            {
                ?>
                    </table>
                </div>
            <?php
            }
            $previousGroup = $currentGroup;
    }

    {{ if condition }}
    {{ else if condition }}
    {{ else }}
    {{ end }}

See that extra %s on second set. thats for the output coming from the first command.
so if I want $a + $b + $c i will have to do it this way.
printf "%s" $c | printf "%s%s" $b | printf "%s%s" $a | printf "%s"

{{ $.Scratch.Set "counter" 0 }}
{{range sort .Params.employees}}
  {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
  I am the number {{$.Scratch.Get "counter"}} in loop!
{{end}}

{{ $slug := .URL }}
{{ .Scratch.Add "i" 0 }}
{{ range first 3 (where .Site.RegularPages "Section" "blog") }}
{{ $k := .Scratch.Get "i" }}
{{ if lt $k 2 }}
{{ if and ((ne .URL $slug) (lt $k 2) ) }}
{{ .Scratch.Add "i" 1 }}

{{ .Title }}

{{ end }}
{{ end }}
{{ end }}

*/}}